html {
    background-color: #808080;
}

body {

}

#bkgd-image {
    background-image: url("smallcherry.png");
    background-repeat: no-repeat;
    background-position: 95% 25%;
    padding: 300px;
}
    
h1 {
    color: lightyellow;
    font-family: 'Pacifico', cursive;
}

#header {
    position: absolute;
    left: 50px;
    top: 50px;
    text-align: left;
}

#firstpara {
    position: absolute;
    left: 50px;
    top: 150px;
    text-align: left;
    font-family: 'Shadows Into Light', cursive;
    color: lightcyan;
    font-size: 24px;
}

#listome {
    position: absolute;
    left: 50px;
    top: 150px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    color: lightcyan;
    font-size: 18px;
}

ul {
    width: 100%;
}

li {
    text-align: left;
}

#quote {
    position: absolute;
    left: 50px;
    top: 300px;
}

#navigation {
position: fixed;
left: 0px;
top: 0;
width: 100%;
color: #ffffff;
height: 40px;
text-align: center;
padding-top: 20px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: lightcoral;
color: rgba(1, 1, 1, 0.8);
}

#navigation a {
font-size: 20px;
font-family: 'Shadows Into Light', cursive;
padding-left: 15px;
padding-right: 15px;
color: ghostwhite;
text-decoration: none;
}

#navigation a:hover {
color: yellow;
} 

#entries {
    position: absolute;
    left: 50px;
    top: 150px;
    text-align: left;
    width: 650px;
    outline: gold dotted thick;
    font-family: 'Yantramanav', cursive;
    color: white;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
}